:root { 
	--color-white: #fffefc;
	--color-pearl: #fbfcf7;
	--color-alabaster: #fefaf0;
	--color-snow: #f4fefd;
	--color-ivory: #fef7e5;
	--color-cream: #fffbda;
	--color-eggshell: #fef9e3;
	--color-cotton: #fbfcf7;
	--color-chiffon: #fafaf1;
	--color-salt: #f8efec;
	--color-lace: #faf3ea;
	--color-coconut: #fff1e6;
	--color-linen: #f2ebd3;
	--color-bone: #e7dfcc;
	--color-porcelain: #fffffc;
	--color-parchment: #fcf6df;
	--color-rice: #fbf6ef;
	--color-blue: #0074d9;
	--color-navy: #001f3f;
	--color-aqua: #7fdbff;
	--color-sky: #00b2ff;
	--color-teal: #39cccc;
	--color-slate: #757b87;
	--color-indigo: #281e5d;
	--color-cobalt: #1438bd;
	--color-ocean: #026063;
	--color-peacock: #002d37;
	--color-azure: #1621a6;
	--color-cerulean: #0592c2;
	--color-lapis: #2632c2;
	--color-spruce: #2c3e4b;
	--color-stone: #59788d;
	--color-aegean: #1e456e;
	--color-berry: #24146f;
	--color-denim: #141e3c;
	--color-admiral: #061094;
	--color-sapphire: #52b2c0;
	--color-arctic: #82edfd;
	--color-tan: #e5dbac;
	--color-beige: #ecdc99;
	--color-macaroon: #f7df75;
	--color-hazelwood: #c9bc8e;
	--color-granola: #d6b75a;
	--color-oat: #dec98a;
	--color-eggnog: #fbe29d;
	--color-fawn: #c7a951;
	--color-sugarcookie: #f3ebad;
	--color-sand: #d7b963;
	--color-sepia: #e3b678;
	--color-latte: #e9c17b;
	--color-oyster: #dcd69f;
	--color-biscotti: #e3c565;
	--color-parmesean: #fee993;
	--color-hazelnut: #bda55d;
	--color-sandcastle: #dbc27d;
	--color-buttermilk: #fdefb2;
	--color-sanddollar: #ebe7b9;
	--color-shortbread: #fce791;
	--color-yellow: #ffdc00;
	--color-canary: #fac801;
	--color-gold: #f9a602;
	--color-daffodil: #feee88;
	--color-flaxen: #d5b65a;
	--color-butter: #fee226;
	--color-lemon: #effd5f;
	--color-mustard: #e9b829;
	--color-corn: #e4cd04;
	--color-medallion: #e4b103;
	--color-dandelion: #fdce2a;
	--color-bumblebee: #fce206;
	--color-banana: #fcf4a3;
	--color-butterscotch: #fabd04;
	--color-dijon: #c29200;
	--color-honey: #ec9707;
	--color-blonde: #fdeb75;
	--color-pineapple: #ffe327;
	--color-tuscansun: #fcd12a;
	--color-orange: #ff851b;
	--color-tangerine: #f98228;
	--color-merigold: #fdae1d;
	--color-cider: #b66827;
	--color-rust: #8c4005;
	--color-ginger: #bc5703;
	--color-tiger: #fb6b02;
	--color-bronze: #b2560c;
	--color-cantaloupe: #fca172;
	--color-apricot: #ed810f;
	--color-carrot: #ed7116;
	--color-squash: #c95c09;
	--color-spice: #7a3a03;
	--color-marmalade: #d16102;
	--color-amber: #893201;
	--color-sandstone: #d57128;
	--color-yam: #cc5801;
	--color-red: #ff4136;
	--color-cherry: #9a0f02;
	--color-rose: #e2252a;
	--color-jam: #600f0b;
	--color-merlot: #541f1b;
	--color-garnet: #5f0a04;
	--color-crimson: #b8100a;
	--color-ruby: #900503;
	--color-scarlet: #910d08;
	--color-redwine: #4c0805;
	--color-redapple: #a91b0d;
	--color-mahogany: #420d09;
	--color-blood: #710c04;
	--color-sangria: #5f1914;
	--color-currant: #670c07;
	--color-blush: #bb544a;
	--color-candy: #d31603;
	--color-lipstick: #9b0f02;
	--color-pink: #f69acd;
	--color-fuchsia: #f012be;
	--color-punch: #f25278;
	--color-watermelon: #fe809c;
	--color-flamingo: #fda4b8;
	--color-rouge: #f26c8c;
	--color-salmon: #fdab9f;
	--color-coral: #fe7d67;
	--color-peach: #fb9483;
	--color-strawberry: #fc4c4e;
	--color-rosewood: #a04242;
	--color-lemonade: #fabacb;
	--color-taffy: #fa85c4;
	--color-bubblegum: #fd5ca8;
	--color-balletslipper: #f69abf;
	--color-crepe: #f1b7c6;
	--color-maroon: #85144b;
	--color-hotpink: #ff1696;
	--color-purple: #b10dc9;
	--color-mauve: #7a4a89;
	--color-violet: #710193;
	--color-boysenberry: #630536;
	--color-lavender: #e3a0f6;
	--color-plum: #601a36;
	--color-lilac: #b65fcd;
	--color-periwinkle: #be93d4;
	--color-eggplant: #311431;
	--color-iris: #9866c5;
	--color-heather: #9b7cb9;
	--color-amethyst: #a45de4;
	--color-raisin: #290916;
	--color-orchid: #af69ee;
	--color-mulberry: #4d0220;
	--color-green: #2ecc40;
	--color-chartreuse: #b0fd38;
	--color-juniper: #395311;
	--color-sage: #728c69;
	--color-lime: #01ff70;
	--color-fern: #5dbc64;
	--color-olive: #98bf64;
	--color-emerald: #038911;
	--color-pear: #74b62d;
	--color-moss: #476d1e;
	--color-shamrock: #03ac13;
	--color-seafoam: #3cec96;
	--color-pine: #24501e;
	--color-parakeet: #02c04a;
	--color-mint: #98ecc3;
	--color-seaweed: #354b21;
	--color-pickle: #5a7d36;
	--color-pistachio: #b2d3c1;
	--color-basil: #32622d;
	--color-crocodile: #5f7c3a;
	--color-brown: #241709;
	--color-coffee: #4b371c;
	--color-mocha: #3c290d;
	--color-peanut: #795c34;
	--color-carob: #35260f;
	--color-hickory: #371d10;
	--color-pecan: #4a2512;
	--color-walnut: #432711;
	--color-caramel: #66360f;
	--color-gingerbread: #5d2c04;
	--color-chocolate: #2c1603;
	--color-tortilla: #9a7b4f;
	--color-umber: #352415;
	--color-tawny: #7e491d;
	--color-brunette: #391e07;
	--color-cinammon: #642b0d;
	--color-penny: #522915;
	--color-grey: #aaaaaa;
	--color-shadow: #373737;
	--color-graphite: #584d5b;
	--color-iron: #332d31;
	--color-pewter: #6a6880;
	--color-cloud: #c5c5d0;
	--color-silver: #dddddd;
	--color-smoke: #59515f;
	--color-anchor: #42424c;
	--color-ash: #554c4d;
	--color-porpoise: #4d4c5c;
	--color-dove: #7c6e7f;
	--color-fog: #655965;
	--color-flint: #7d7c9c;
	--color-pebble: #333333;
	--color-lead: #403f4e;
	--color-coin: #9897a9;
	--color-fossil: #787276;
	--color-black: #111111;
	--color-ebony: #080401;
	--color-crow: #25221F;
	--color-charcoal: #222022;
}
